html,
body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

.container {
  background-color: #0f172a;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  /* background-image: url('/assets/images/test.jpg'); */
}

/* 
h6은 나레이션 또는 자막용 입니다!
*/
.container > h6 {
  position: absolute;
  top: 70%; /* 화면 기준 70% 아래 */
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
  color: #ffffff;
  text-align: center;
}

.container > div {
  background-color: #334155;
}

div > .title {
  font-size: 45px;
  margin-left: 5%;
  color: #ffffff;
}
div > .sub-title {
  font-size: 25px;
  margin-left: 5%;
  color: #888888;
}
div > .info-input {
  margin-left: 5%;
}

#room-selection {
  color: red;
}

#waiting-area {
  /* display: none; */
}

#quiz-area {
  /* display: none; */
}

#result-area {
  /* display: none; */
}

#notification {
  /* display: none; */
}
